/controller/controller-node-tests/node_modules
/controller/controller-react-frontend/node_modules
/controller/controller-rust/target
/controller/controller-react-frontend/.pnp
/controller/controller-react-frontend/.pnp.js
/controller/controller-react-frontend/coverage
/controller/controller-react-frontend/build
/controller/controller-react-frontend/.DS_Store
/controller/controller-react-frontend/.env.local
/controller/controller-react-frontend/.env.development.local
/controller/controller-react-frontend/.env.test.local
/controller/controller-react-frontend/.env.production.local
/controller/controller-react-frontend/npm-debug.log*
/controller/controller-react-frontend/yarn-debug.log*
/controller/controller-react-frontend/yarn-error.log*
/controller/controller-react-frontend/public/concept.svg
/sensors/modules/__pycache__
/sensors/modules/sensors/__pycache__
/sensors/modules/sensors/apds9960/__pycache__
/sensors/modules/sensors/ADS1x15/__pycache__
/sensors/__pycache__
